# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.o.d
*.lst

_temp

# Project files
main-board/software/pawn/build
main-board/software/pawn/build.app
main-board/software/dfu/build
main-board/software/dfu/build.app




